# Jupyter system files
.ipynb_checkpoints/

# Jupyter Notebook for Kaggle
notebooks/EDA_kaggle.ipynb

# Local database (если хочешь не пушить .db файл)
data/airbnb.db

# OS/System
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# VSCode settings (если пользуешься)
.vscode/
